.nav-links {
    display: flex;
    gap: 50px;
    align-items: center;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 22px;
  }
  
  button {
    border: none;
    background: none;
    font-size: 20px;
  }
  
  .mobile-menu-icon {
    display: none;
  }
  .logo-img{
    width: 10rem;
  
  }
  
  @media (max-width: 1125px) {
    .nav-links {
      display: none;
    }
    .mobile-link {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 0;
      list-style: none;
      box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
      left: 5%;
      top: 8%;
      transition: all 0.5s ease-in-out;
      width: 88%;
      background-color: #002a36;
      font-family: 'Jost';
      font-weight: 400;
      font-size: 22px;
    }
    ul li {
      padding: 22px;
      transition: all 0.5s ease-in-out;
      text-align: center;
      cursor: pointer;
    }
    li:hover{
      border-bottom: 1px solid #407af1;
    }
    ul.incard li{
      all: unset;
    }
    .mobile-menu-icon {
      transition: all 0.5s ease-in-out;
      position: absolute;
      display: block;
      right: 20px;
      color: white;
    }
  }
  